*{
    margin:0;
}

header{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

nav a{
    text-decoration: none;
    color: black;
    transition:all 0.2s;
}

nav a:hover{
    color:orange;
    transition:all 0.2s;
}

header img{
    width: 200px;
    margin: 20px 0;
}

footer{
    text-align: center;
}

footer a{
    text-align: center;
    color:black;
    text-decoration: none;
}
footer a:hover{
    color:red;
}